<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">
	{{ block 'head' }}{{ /block }}
</head>
<body>

{{ include './header.html' }}

<!-- 留一个坑 -->
{{ block 'content'}} <h1>默认内容</h1>{{ /block }}

{{ include './footer.html' }}

<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
{{ block 'script' }} {{ /block }}
</body>
</html>